In [ ]:
'''
Moisture:

Sandy soil - m <=40%/
Clay soil - m <= 35%

'''

'\nMoisture:\n\nSandy soil - m <=40%/\nClay soil - m <= 35%\n\n'

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_excel('/content/result.xlsx')

In [ ]:
df.head()

,S No,pH,Temperature,Moisture,Time_log,Gadget Id,Location,target
0,1.0,7.0,27.1,48.0,18-01-2022 10:26,NITSL001,Farm 1,no_irrigation
1,2.0,7.0,27.5,47.7,18-01-2022 10:26,NITSL001,Farm 1,no_irrigation
2,3.0,7.0,27.5,47.7,18-01-2022 10:26,NITSL001,Farm 1,no_irrigation
3,4.0,7.0,27.5,47.6,18-01-2022 10:26,NITSL001,Farm 1,no_irrigation
4,5.0,7.0,27.5,47.7,18-01-2022 10:26,NITSL001,Farm 1,no_irrigation

In [ ]:
df.columns

Index(['S No', 'pH', 'Temperature', 'Moisture', 'Time_log', 'Gadget Id',
       'Location', 'target'],
      dtype='object')

In [ ]:
soil_type=input("SANDY SOIL or CLAY SOIL: ")

SANDY SOIL or CLAY SOIL: 1

In [ ]:
if soil_type == 1:
  df['Moisture'] = df.Moisture <= 40
  df = df.drop(df[df['Moisture'] == False].index, inplace=False)
else:
  df['Moisture'] = df.Moisture <= 35
  df = df.drop(df[df['Moisture'] == False].index, inplace=False)
print(df.head(10))

        S No   pH  Temperature  Moisture          Time_log Gadget Id Location  \
7985  7986.0  7.0         27.1      True  18-01-2022 22:27  NITSL001   Farm 1
7986  7987.0  7.0         27.1      True  18-01-2022 22:27  NITSL001   Farm 1
7988  7989.0  7.0         27.1      True  18-01-2022 22:27  NITSL001   Farm 1
7989  7990.0  7.0         27.1      True  18-01-2022 22:27  NITSL001   Farm 1
7990  7991.0  7.0         27.1      True  18-01-2022 22:27  NITSL001   Farm 1
7991  7992.0  7.0         27.1      True  18-01-2022 22:27  NITSL001   Farm 1
7992  7993.0  7.0         27.1      True  18-01-2022 22:27  NITSL001   Farm 1
7993  7994.0  7.0         27.1      True  18-01-2022 22:27  NITSL001   Farm 1
7994  7995.0  7.0         27.1      True  18-01-2022 22:27  NITSL001   Farm 1
7995  7996.0  7.0         27.1      True  18-01-2022 22:27  NITSL001   Farm 1

        target
7985  irrigate
7986  irrigate
7988  irrigate
7989  irrigate
7990  irrigate
7991  irrigate
7992  irrigate
7993  irrigate
7994  irrigate
7995  irrigate

In [ ]:
df['target'].value_counts(normalize=True)

irrigate    1.0
Name: target, dtype: float64

In [ ]:
df1=df['target'].value_counts(normalize=True)
if df1['irrigate'] == 1:
  print("Good for irrigation")
elif df1['no_irrigation']>df1['irrigate']:
  print("no irrigation is high",df1['no_irrigation'])
elif df1['no_irrigation']<df1['irrigate']:
  print("irrigation is high",df1['irrigate'])
else:
  print("Not a good time for irrigation")

Good for irrigation